*{
    margin:0;
    padding:0;
    font-family: fantasy;
}

.navbar{
    display:flex;
    justify-content: space-around;
    background-color: #333;
    align-items: center;
    font-family: fantasy;
    font-size: 10px;
    color: white;
    padding:12px
}

.logo{
display:flex;
align-items: center;
}
/* Some stuffs here */

.menu{
display:flex;
gap: 15px;
font-size: 8px;
}
 .btn{
    border-radius: 10px;
    border:none;
    padding:15px;
    background-color: orange;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    font-family: fantasy;
 }

 .HeroMiddle {
    height: 70vh;
    background-image: url("https://images.alphacoders.com/107/1076955.jpg");
    background-repeat: no-repeat;
    color: whitesmoke;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    /* padding: 200px; */
 }
 .middletext{
    font-size: 40px;
    margin-bottom:20px;
 }

 .btn-hero{
    font-family: fantasy;
    font-size: 15px;
    font-weight: 800;
    border:none;
    padding:15px;
    border-radius:10px;
    background-color: orange;
    box-shadow: 0px 0px 20px  black;
    cursor: pointer;
    transition: ease-in-out .2s;
    margin-top: 20px;
 }

 .btn-hero:hover {
    background-color: darkorange;
    color: #fff;
    transform: scaleX(1.2);
 }

 .text{
      font-family: fantasy;
      text-align: center;
      margin-top: 50px;
      padding-block: 70px;
      background-color:whitesmoke;
 }

 .risingbottom{
   background-color:whitesmoke;
   height:80vh;
   margin-top: -100px;
 }

 .boxes{
   height:41vh;
   display:flex;
   align-items: center;
   justify-content: center;
   gap:20px;
   background-color:whitesmoke;
 }
 .box{
   border-radius: 10px;
   height:40vh;
   width: 200px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: white;
   gap: 10px; /*This is the gap inside the box*/
   padding-inline: 20px;
   box-shadow: 0px 0px 5px #333;
 }

 .box-img {
    width: 100px;
    height: 100px;
    border-radius: 100%; /*This is what makes the border rounded*/
 }
