*{
    margin:0;
    padding:0;
}

.navbar{
    display:flex;
    justify-content: space-around;
    background-color: #333;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: white;
    padding:12px
}

.logo{
display:flex;
align-items: center;
}

.menu{
display:flex;
gap: 15px;
font-size: 8px;
}
 .btn{
    border-radius: 10px;
    border:none;
    padding:15px;
    background-color: orange;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
 }

 .HeroMiddle {
    height: 70vh;
    background-image: url("https://images.alphacoders.com/107/1076955.jpg");
    background-repeat: no-repeat;
    color: whitesmoke;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    /* padding: 200px; */
 }

 .btn-hero{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 800;
    border:none;
    padding:15px;
    border-radius:10px;
    background-color: orange;
 }