*{
    margin:0;
    padding:0;
}

.navbar{
    display:flex;
    justify-content: space-around;
    background-color: #333;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: white;
    padding:12px
}

.logo{
display:flex;
align-items: center;
}

.menu{
display:flex;
gap: 15px;
font-size: 8px;
}
 .btn{
    border-radius: 10px;
    border:none;
    padding:15px;
    background-color: orange;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
 }

 .HeroMiddle {
    height: 50vh;
    background-image: url("https://images.alphacoders.com/107/1076955.jpg");
    background-repeat: no-repeat;
    color: whitesmoke;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    /* padding: 200px; */
 }
 .middletext{
    font-size: 40px;
    margin-bottom:20px;
 }

 .btn-hero{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 800;
    border:none;
    padding:15px;
    border-radius:10px;
    background-color: orange;
    box-shadow: 0px 0px 20px  black;

 }
 .text{
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      margin-top: 50px;
 }
 .risingbottom{
   border:red solid 2px;
   background-color:whitesmoke;
   height:50vh
   
 }

 .boxes{
   border :blue solid 2px;
   height:41vh;
   display:flex;
   align-items: center;
   justify-content: center;
   gap:20px;
 }
 .box1{
   border-radius: 10px;
   border :green solid 2px;
   height:20vh;
   width:20%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
 }
  .box2{
   border-radius: 10px;
   border :purple solid 2px;
   height:20vh;
   width:20%;
   
   background-color: white;
 }
  .box3{
   border-radius: 10px;
   border :pink solid 2px;
   height:20vh;
   width:20%;
   
   background-color: white;
 }
  .box4{
   border-radius: 10px;
   border :yellow solid 2px;
   height:20vh;
   width:20%;
   
   background-color: white;
 }