*{
    margin:0;
    padding:0;
}

.navbar{
    display:flex;
    justify-content: space-around;
    background-color: #333;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: white;
    padding:12px
}

.logo{
display:flex;
align-items: center;
}

.menu{
display:flex;
gap: 15px;
font-size: 8px;
}
 .btn{
    border-radius: 10px;
    border:none;
    padding:15px;
    background-color: orange;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
 }
